html,
body {
  overflow: visible;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.sticky-top {
  width: 100%;
  font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #2d76ee;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999999;
}

.top-bar {
  padding: 15px;
}

.top-bar-title > h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.top-bar-content > p {
  font-size: 14px;
  font-weight: 300;
  padding-top: 4px;
  margin: 0;
  letter-spacing: 0.01em;
  display: inline;
}

.top-bar-content a {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 300;
}

.top-bar-content > span {
  margin-left: 25px;
}

.top-bar-extra {
  border-top: 1px solid #fff;
}

.record-details > a,
.live-page > a {
  color: #fff;
  vertical-align: baseline;
}

.record-details {
  padding-left: 15px;
  width: 45%;
  border-right: 1px solid #fff;
  justify-content: space-between;
}

.live-page {
  padding-right: 15px;
  width: 45%;
  justify-content: flex-end;
}

.live-page > a {
  right: 0;
}

.live-page i {
  padding-left: 5px;
  font-weight: 500;
}

.record-details,
.live-page {
  display: inline-flex;
  height: 35px;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-bottom: 15px;
}

.nav-bar {
  background-color: #fff;
  position: relative;
}

.logo {
  background-color: #000;
  display: inline-block;
  padding: 16px 20px;
}

.logo img {
  width: 66px;
}

.nav-icons {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-icons ul {
  margin: 0;
  padding: 0;
}

.search {
  transform: scaleX(-1);
}

.nav-icons li {
  display: inline;
  border-left: 1px solid #eee;
  float: left;
}

.nav-icons i {
  font-size: 20px;
  color: #555;
}

.nav-icons li a {
  display: block;
  padding: 15px;
}

.notify {
  background-color: #fd3;
  text-align: center;
}

.notify .notify-text {
  color: #000;
  line-height: 60px;
  font-size: 12px;
}

main {
  margin-top: 100px;
}

.cover-story {
  position: relative;
  min-height: 30vh;
}

.cover-image {
  background-color: #000;
  background-size: cover;
  background-position: center center;
  z-index: -11;
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

/* Article Background Images */

.cover-background-image {
  background-image: url(./Assets/google-calendar-796x345.jpg);
}

.cover-background-image-1 {
  background-image: url(./Assets/boost.png);
}

.cover-background-image-2 {
  background-image: url(./Assets/numi-calculator-796x418.jpg);
}

.cover-trigger {
  transition: background-color 0.4s ease;
  background: rgba(0, 0, 0, 0.25) url(./Assets/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.cover-header {
  z-index: 5;
  bottom: 0;
  left: 4px;
  position: absolute;
  right: 4px;
  color: #fff;
  padding: 14px 12px;
}

.cover-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 5px;
}

.cover-byline {
  list-style: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.cover-byline .cover-list {
  display: inline-block;
}

.cover-list-padding-left {
  padding-left: 5px;
}

.cover-list-a {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 5px;
}

.latest-news-section {
  padding-top: 24px;
  margin: 0 auto;
}

.latest-news {
  padding: 0 20px;
  margin-top: 30px;
}

.latest-news-heading {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  font-size: 28px;
}

.news-story {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: -8px;
}

/* HoverTags */

.top-bar-content a:hover {
  text-decoration: underline;
  border-color: #0092ff;
}
